author:{author}
branches:{branches}
date:{date}
desc:{desc|urlescape}
file_adds:{file_adds}
file_dels:{file_dels}
files:{files}
file_copies:{file_copies}
manifest:{manifest}
node:{node}
parents:{parents}
rev:{rev}
tags:{tags}

